<header class="banner">
	<div class="container">
		<div class="row">
			<div class="col-5 col_logo text-left">
				<div class="site_logo">
					<a href="/">
						<img src="/assets/logo.png" alt="">
					</a>
				</div>
				<div class="site_name">
					<a href="/">
						WebDev <br>
						Vishal
					</a>
				</div>
			</div>
			<div class="col-7 col_menu text-right">
				<nav>
					<ul>
						<li *ngFor="let menu of Menu; let i as index"><a href="{{menu.link}}">{{menu.name}}</a></li>
					</ul>
				</nav>	
			</div>
			<div class="col-7 col_hamburger d-lg-none text-right">
				<!-- <button class="hamburger hamburger--collapse is-active" type="button">
					<span class="hamburger-box">
					  <span class="hamburger-inner"></span>
					</span>
				</button> -->
				<label for="check">
					<input type="checkbox" id="check"/> 
					<span></span>
					<span></span>
					<span></span>
				  </label>
			</div>
		</div>
	</div>
</header>