<section>
    <div class="container">
      <h2
        class="text-center text-capitalize mt-2 pt-4 font-weight-normal font-weight-bolder"
      >
        Skills I Have
      </h2>
      <hr class="w-25 mx-auto pt-0" />

      <div class="row text-center mb-1">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="card bg-light text-dark font-weight-bold tilter">
            <img
              class="card-img-top"
              src="./images/f1.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title font-weight-bold">Front-end Developer</h4>
              <p class="card-text">
                I like to code things from scratch, and enjoy bringing ideas
                to life in the browser.
              </p>
              <h6 class="card-title font-weight-bold">Languages I speak:</h6>
              <p class="card-text">HTML, Wordpress, JavaScript, CSS, Sass, Angular, jQuery</p>
              <h6 class="card-title font-weight-bold">Dev Tools:</h6>
              <p class="card-text">
                Bootstrap,Wordpress,  Codepen, Github, Tailwind,
                Materialise
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
          <div class="card bg-light text-dark font-weight-bold tilter1">
            <img
              class="card-img-top"
              src="./images/f2.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title font-weight-bolder">Designer</h4>
              <p class="card-text">
                I value simple content structure, clean design patterns, and
                thoughtful interactions.
              </p>
              <h6 class="card-title font-weight-bold">
                Things I enjoy designing:
              </h6>
              <p class="card-text">UX, UI, Web, Mobile, Apps, Logos</p>
              <h6 class="card-title font-weight-bold">Design Tools:</h6>
              <p class="card-text">
                Figma, Adobe XD, Pen & Paper, Sketch, Adobe
                Photoshop
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container align-items-center justify-items-center my-4">
      <div class="mx-auto text-center mt-3">
        <h4 class="font-weight-bold p-1">Knowledge</h4>
        <hr class="w-25 mx-auto mt-0 font-weight-bolder" />
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-success   font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        >
          HTML 95%
        </div>
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-info font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="85"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 85%"
        >
          CSS 90%
        </div>
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-danger font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 75%"
        >
          JAVASCRIPT \ JQUERY 90%
        </div>
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-primary font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        >
          FRAMEWORK's 94%
        </div>
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-info font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        >
          TAILWIND-CSS \ BOOTSTRAP 90%
        </div>
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-dark font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        >
          SASS 90%
        </div>
      </div>

      <div class="progress my-3">
        <div
          class="progress-bar bg-danger font-weight-bold bg-success text-light an"
          role="progressbar"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        >
          Wordpress 90%
        </div>
      </div>


    </div>
  </section>