<div class="skills_level" #testDiv>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col_content">
                <div class="prog_wrap" *ngFor="let row of skillsLevel">
                    <h3 class="title">{{row.title}}</h3>
                    <div class="progress" style="height: 24px;" >
                        <div class="progress-bar" role="progressbar" style="width: {{row.percentage}}%;" attr.aria-valuenow="{{row.percentage}}"  aria-valuemin="0" aria-valuemax="100">
                            <p>{{row.percentage}}%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col_quote col-lg-8 offset-lg-2">
                <h3>There is always '<span>one more thing</span>' to learn!</h3>
                <span>- Steve Jobs</span>
            </div>
        </div>
    </div>
</div>