@import "../../assets/Styles/Common/variables.scss";

.skills_level{
    padding: 90px 0px;
    background-color: $black_primary;
    .container {
        .col_content {
            margin-bottom: 24px;
            .prog_wrap {
                background-color: transparent;                
                margin-bottom: 24px;
                .title {
                    font-size: 18px;
                    color: $yellow_primary;
                    font-family: $font_headings;
                    margin-bottom: 10px;
                }
                .progress {
                    background-color: transparent;
                    border: none;
                    background-attachment: border-box;
                    .progress-bar {
                        background: linear-gradient(to right, rgba($red_primary , 0.4), rgba($yellow_primary , 1));
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        p {
                            text-align: right;
                            margin-bottom: 0;
                            line-height: 24px;
                            color: $color-black;
                            font-family: $font_headings;
                            font-weight: 600;
                            padding-right: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .col_quote {
            text-align: center;
            > h3 {
                font-family: $font_forms;
                color: $white_primary;
                font-size: 14px;
                letter-spacing: 2px;
                font-weight: 400;
                span {
                    color: $blue_primary;
                }
            }
            > span {
                color: $grey_secondary;
                font-size: 12px;
                font-family: $font_headings;
            }
        }
    }
}