@import "../../assets/Styles/Common/variables.scss";
.banner {
	background-color: $black_primary;
	padding-top: 20px;
	padding-bottom: 20px;
	.container {
		.row {
			.col_logo {
				display: flex;
				align-items: center;
				.site_logo {
					display: inline-block;
					margin-right: 10px;
					img {
						width: 100%;
						max-width: 60px;
						filter: invert(1);
					}
				}
				.site_name {
					a {
						text-decoration: none;
						font-family: $font_forms;
						font-size: 18px;
						letter-spacing: 2px;
						color: $grey_secondary;
						display: inline-block;
						@include transition();

						&:hover {
							color: $yellow_primary;
						}
					}
				}
			}

			.col_menu {
				margin: auto;
				ul {
					margin: 0;
					padding: 0;
					display: flex;
					justify-content: flex-end;
					li {
						list-style: none;
						display: inline-block;
						a {
							text-decoration: none;
							color: $white_primary;
							font-size: 16px;
							margin-right: 24px;
							font-family: $font_forms;
							padding: 6px 0px;
							position: relative;
							@include transition();

							&::before {
								content: "";
								position: absolute;
								bottom: 0px;
								height: 2px;
								background-color: $yellow_primary;
								width: 0%;
								left: 0;
								@include transition();
							}
							&:hover {
								color: $yellow_primary;
								&::before {
									width: 100%;
								}
							}
						}
						&:last-of-type {
							a {
								margin-right: 0;
							}
						}
					}
				}
				@media (max-width:991px) {
					display: none;
				}
			}

			.col_hamburger {
				display: flex;
				justify-content: right;
				align-items: center;
				label {
					display: flex;
					flex-direction: column;
					width: 70px;
					cursor: pointer;
					span {
						background: #fff;
						border-radius: 10px;
						height: 7px;
						margin: 7px 0;
						transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
						&:nth-of-type(1) {
							width: 50%;
						}

						&:nth-of-type(2) {
							width: 100%;
						}

						&:nth-of-type(3) {
							width: 75%;
						}
					}
					input[type="checkbox"] {
						display: none;
						&:checked ~ span:nth-of-type(1) {
							transform-origin: bottom;
							transform: rotatez(45deg) translate(8px, 0px);
						}

						&:checked ~ span:nth-of-type(2) {
							transform-origin: top;
							transform: rotatez(-45deg);
						}

						&:checked ~ span:nth-of-type(3) {
							transform-origin: bottom;
							width: 50%;
							transform: translate(30px, -11px) rotatez(45deg);
						}
					}
				}

			}
		}
	}
}
