<div class="hero_wrapper">
    <video   autoplay loop muted>
        <source src="../../assets/Untitled.mp4" type="video/webm" />
        <source src="../../assets/Untitled.mp4" type="video/mp4" />
    </video>
    <div class="container">
        <div class="row">
            <div class="col-12 col_content">
                <h1>I AM <span class="type spanbest1"></span>
                    <span class="typed-cursor">&lt;\&gt;</span></h1>
                <ul>
                    <li>Web Developer.</li>
                    <li>Front End Enthusiast.</li>
                    <li>UI Developer</li>
                    <li>Wordpress skillful</li>
                    <li>CSS/SCSS Expert</li>
                    <li>Angular seasoned</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="swipe_down">
        <a href="">
            <img src="../../assets/down-arrow-5.svg" alt="">
        </a>
    </div>
</div>