<div class="hero_wrapper">
    <video   autoplay loop muted>
        <source src="../../assets/Untitled.mp4" type="video/webm" />
        <source src="../../assets/Untitled.mp4" type="video/mp4" />
    </video>
    <div class="container">
        <div class="row">
            <div class="col-12 col_content">
                <ngx-typed-js [strings]="[
                'Web Developer.',
                'Front End Enthusiast.',
                'UI Developer',
                'Wordpress skillful',
                'CSS/SCSS Expert',
                'Angular seasoned'
                ]" [shuffle]="true" [typeSpeed]="40" [backSpeed]="90" [smartBackspace]="true" [loop]="true">
                <h1>I AM  <span class="typing"></span><span class="typed-cursor">&lt;\&gt;</span></h1>
                  </ngx-typed-js>
            </div>
        </div>
    </div>
    <div class="swipe_down">
        <a href="">
            <img src="../../assets/down-arrow-5.svg" alt="">
        </a>
    </div>
</div>