@import "../../../assets/Styles/Common/variables.scss";

.timeline_wrapper {
    .single_timeline {
        padding: 80px 0px;
        position: relative;
        background: {
            position: center center;
            size: cover;
            repeat: no-repat;
        };
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background:linear-gradient(to top,rgba($black_primary, 1),rgba($black_primary, 0));
            @include transition();
            z-index: 0;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-color: rgba($black_primary, .6);
        }
        &:hover {
            &:after {
                height: 100%;
            }
            .col_timeline {
                h2 {
                  color: $yellow_primary;

                    &::before,&::after {
                        background-color: $yellow_primary;
                    }
                }
            }
            .desc_block {
                transform: translateY(0%) !important;
            }
        }
        > * {
            position: relative;
            z-index: 1;
        }
        .col_timeline {
            text-align: center;
            overflow: hidden;
            h2 {
                font-family: $font_forms;
                color: $white_primary;
                letter-spacing: 1.5px;
                padding: 20px 0px;
                position: relative;
                display: inline-block;
                margin-bottom: 40px;
               @include transition();

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -15px;
                    width: calc(100% + 30px);
                    height: 1.5px;
                    background-color: $white_primary;
                   @include transition();

                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -15px;
                    width: calc(100% + 30px);
                    height: 1.5px;
                    background-color: $white_primary;
                    @include transition();

                }
            }

            .desc_block {
                display: block;
                transform: translateY(50vh);
                @include transition();
                transition-delay: 0.1s;
                ::ng-deep {
                    p {
                        margin-bottom: 0;
                        color: $white_primary;
                        font-family: $font_headings;
                        strong {
                            color: $yellow_primary;
                        }
                    }
                }
            }
        }
    }
}