@import "../../assets/Styles/Common/variables.scss";

.cta_wrapper { 
    padding: 40px 0px;
    padding-bottom: 30px;
    background-color: $yellow_primary;
    .col_cta {
        text-align: center;
        h2 {
            font-size: 24px;
            color: $color-black;
            font-family: $font_forms;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        p {
            font-family: $font_headings;
            margin-bottom: 20px;
        }
    }
}